
body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    padding: 15px 40px;
}
nav .logo {
    color: white;
    font-weight: bold;
    font-size: 22px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

/* PAGE HANDLER */
section { display: none; padding: 40px; }
section.active { display: block; }

/* HERO */
.hero {
    padding: 300px;
    background: url("foto\ basket.webp") center/cover;
    color: white;
    border-radius: 10px;
}

/* PRODUCTS */
.produk-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

.produk-card {
    width: 240px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.produk-card img {
    width: 100%;
    border-radius: 10px;
}
.produk-card button {
    margin-top: 8px;
    padding: 10px 20px;
    background: orange;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}
.produk-card button:hover { background: #d67a00; }

/* CART */
#cart-list {
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}
.cart-item button {
    background: red;
    color: white;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* CHECKOUT */
input, textarea {
    width: 300px;
    padding: 10px;
    margin: 8px 0;
}
.pay-btn {
    padding: 12px 35px;
    background: green;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
}
.pay-btn:hover { background: #0f7a0f; }

/* FOOTER */
footer {
    margin-top: 40px;
    text-align: center;
    background: #111;
    color: white;
    padding: 15px;
}
